<div id="mediabox-overlay"></div>

<div id="mediabox">
    <div id="mediabox-content-wrap">
        <div id="mediabox-content"></div>
    </div>

    <!-- Sidebar Section -->
    <div id="mediabox-sidebar" class="d-flex flex-column flex-shrink-0 p-3 bg-dark" style="top:0px;">
        <div class="mb-3" id="sidebar-actions">
            <!-- Minimize Button -->
            <button class="btn action-btn sidebartoggle" id="minimize-button" aria-label="Minimize">
                <i class="fa fa-minus" aria-hidden="true"></i>
            </button>
            
            <!-- Other Buttons -->
            <button class="btn action-btn" id="previous" aria-label="Previous">
                <i class="fa fa-chevron-left" aria-hidden="true"></i>
            </button>
            <button class="btn action-btn" id="next" aria-label="Next">
                <i class="fa fa-chevron-right" aria-hidden="true"></i>
            </button>
            <button class="btn action-btn mbclose" id="close-button" aria-label="Close">
                <i class="fa fa-times" aria-hidden="true"></i>
            </button>
        </div>

        <hr>
        <ul class="nav nav-pills flex-column mb-auto ps-0 justify-content-end bg-dark">
            <li class="mb-1 text-light" id="mediabox-metainfo">
                <a class="collapsed text-decoration-none text-light" data-toggle="collapse" href="#info-collapse" aria-expanded="false" aria-controls="info-collapse">
                   <i class="fa fa-caret-right text-light" aria-hidden="true"></i>
                    Media Info
                </a>
                <div class="collapse text-wrap" id="info-collapse">
                    <span id="creators" class="text-wrap">Creator: {{creator}} </span>
                    <br><br>
                    <span id="caption" class="text-wrap">Caption: {{title}} </span>
                </div>
            </li>
            <hr>
            {{#allowlikes}}
            <li class="nav-item text-light" id="mediabox-social">
                <span id="likebutton" type="button" class="btn btn-outline-light">
                    <i id="liked" class="fa {{#liked}}fa-heart-o{{/liked}} {{#unliked}} fa-heart {{/unliked}}"  aria-hidden="true"></i>
                    <span id="liketext">
                        {{#liked}}Like{{/liked}}
                        {{#unliked}} Unlike {{/unliked}}
                    </span>
                </span>
                <span id="liketally" class="ml-2">
                    Liked by:
                    {{#liked}}you,{{/liked}}
                    {{totallikes}} others 
                </span>
            </li>
            {{/allowlikes}}
            <hr>

            {{#allowcomments}}
            <li class="mb-1 text-light" id="mediabox-comments">
                <div class="comment-area">
                    <div class="db">
                        <textarea name="content" rows="2" id="dlg-content" aria-label="Add a comment..." cols="20" style="color: grey;"></textarea>
                    </div>
                    <div class="fd" id="comment-action">
                        <button type="button" id="comment-action-post" class="btn btn-primary">Save Comment</button>
                    </div>
                </div>
            </li>
            {{/allowcomments}}
        </ul>
    </div>

    <!-- Navbar Section (optional) -->
    <div id="mediabox-navbar">
        <div id="mediabox-navbar-container"></div>
    </div>
</div>
