<div class="col pb-4" data-item="zoom_channel" data-channel-id="{{channel_id}}">
    <div class="card h-100">
        <div>
            <a data-region="zoom-channel-thumbnail" href="{{{channellink}}}">
                <div class="bg-pulse-grey card-img w-100" style="height: 11rem;"></div>
            </a>
        </div>
        <div class="card-body">
            <a href="{{{channellink}}}">
                <h6 class="card-title">{{name}}</h6>
            </a>
            <p class="card-text">
                <div>
                    {{#courselink}}
                        <a href="{{{courselink}}}">
                            {{coursename}}
                        </a>
                    {{/courselink}}
                </div>
                <div>
                    <div data-region="zoom-channel-video-count">
                        <div class="bg-pulse-grey w-100" style="height: 1rem;"></div>
                    </div>
                </div>
            </p>
        </div>
        <div class="card-footer">
            <div>
                <span>{{publishstatus}}</span>
            </div>
        </div>
    </div>
</div>