<div class="col pb-4" data-item="zoom_video" data-video-id="{{video_id}}">
    <div class="card h-100">
        <div>
            <span class="badge badge-primary p-1" title="Zoom Media" style="position:absolute; top: 1.5em; left: 1.5em;">ZM</span>
            <span class="badge badge-dark p-1" style="position:absolute; top: 1.5em; right: 1.5em;">{{friendlyduration}}</span>
            <a href="{{{play_link}}}" target="_blank" data-region="thumbnail">
                <div class="bg-pulse-grey card-img w-100" style="height: 11rem;"></div>
            </a>
        </div>
        <div class="card-body">
            <a href="{{{play_link}}}" target="_blank">
                <h6 class="card-title">{{video_name}}</h6>
            </a>
            <p class="card-text">
                {{#str}} time_created, local_mymedia, {{createdrelative}} {{/str}}<br>
                {{#str}} time_modified, local_mymedia, {{modifiedrelative}} {{/str}}
            </p>
        </div>
        <div class="card-footer">
            <div data-region="sharescope-info">
                <div class="bg-pulse-grey w-100" style="height: 1rem;"></div>
            </div>
            <div>
                <span>{{ownership}}</span>
            </div>
        </div>
    </div>
</div>