<div class="row mb-2 mt-2">
  <div class="col-md-6 col-lg-4 d-flex align-items-center" style="position: relative;">
    <input type="text" class="form-control w-100" id="zoom_video_search" autocomplete="off" placeholder="{{#str}}search{{/str}}">
    <button class="btn btn-close" data-action="zoom_video_clear_search" style="display: none; position: absolute; right: 1rem; font-size: 0.95rem">
      <span aria-hidden="true">
        {{#pix}}zoom_video_search_clear, local_mymedia{{/pix}}
      </span>
      <span class="sr-only">{{#str}}clear_search, local_mymedia{{/str}}</span>
    </button>
  </div>
</div>
<div id="zoom_video_search_header" style="display: none;">
  <h2 class="zoom-video-search-header"></h2>
  <a href="#" data-action="zoom_video_clear_search">
    {{#str}}clear_search, local_mymedia{{/str}}
  </a>
</div>
<div id="zoom_videos_container" class="zoom-videos-container mt-3">
  <div id="zoom_media_videos_{{uniqid}}" class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-4">
      {{> local_mymedia/zoom_media_video_list }}
  </div>
  <div id="zoom_media_load_more" class="d-flex justify-content-center"></div>
</div>

{{#js}}
require(['local_mymedia/zoom_media_videos'], function(zoomMediaVideos) {
    zoomMediaVideos.init('#zoom_media_videos_{{uniqid}}', '{{next_page_token}}', {{total_records}});
});
{{/js}}