<div class="container-fluid mt-4" style="max-width: 800px;">
    <div class="card shadow border-0" style="border-radius: 12px;">
        <div class="card-body p-5">

<h4><a href="https://support.zoom.com/hc/en/article?id=zm_kb&sysparm_article=KB0057723#h_01H6491HR7XQ0YTXQ5J2CNH1YM" target="_blank">Learn how to access your Clips on Zoom</a></h4>
<p>Clips are stored on Zoom but can be accessed and added to courses within UR Courses through the <a href="https://urcourses.uregina.ca/guides/instructor/zoomzvm#add_a_zoom_video_resource" target="_blank"><strong>Zoom video resource</strong></a> or <a href="https://urcourses.uregina.ca/guides/instructor/zoomzvm#add_a_zoom_video_within_course_content" target="_blank"><strong>within course content using the HTML editor</strong></a>.</p>

<div class="row">
	<div class="col-sm-6"><p><a href="https://urcourses.uregina.ca/guides/instructor/zoomzvm#add_a_zoom_video_resource" target="_blank"><img src="pix/zoom_video_resource.png" width="280" alt="Zoom App Prompt" style="border: solid 1px #666"></a><br><span class="small">Zoom video resource</span></p>
	</div>
	<div class="col-sm-6"><p><a href="https://urcourses.uregina.ca/guides/instructor/zoomzvm#add_a_zoom_video_within_course_content" target="_blank"><img src="pix/zoom_video_atto.png" width="280" alt="Zoom App Prompt" style="border: solid 1px #666"></a><br><span class="small">Zoom video embed</span></p></div>
</div>

<p>Learn more about <a href="https://support.zoom.com/hc/en/article?id=zm_kb&sysparm_article=KB0057723#h_01H6491HR7XQ0YTXQ5J2CNH1YM" target="_blank"><strong>how to access your clips</strong></a> within Zoom.</p>


<h4><a href="https://support.zoom.com/hc/en/article?id=zm_kb&sysparm_article=KB0057723#h_01H64EZMSN6M4T0N8CXP5EH0TG" target="_blank">Learn how to manage your Clips with Zoom</a></h4>
<p>You can upload and embed clips from within UR Courses. For more information about working with Zoom Video Management, please see the <a href="https://urcourses.uregina.ca/guides/instructor/zoomzvm" target="_blank"><strong>Instructor</strong></a> or <a href="https://urcourses.uregina.ca/guides/student/zoomzvm" target="_blank"><strong>Student</strong></a> guides.</p>

<p>For further organization, sharing, and viewing analytics, you can search, share, and manage your clips from the Zoom Workplace app or the Zoom web portal.</p>

<p>Learn more about <a href="https://support.zoom.com/hc/en/article?id=zm_kb&sysparm_article=KB0057723#h_01H64EZMSN6M4T0N8CXP5EH0TG" target="_blank"><strong>how to manage your Clips</strong></a> with Zoom.</p>
 
        </div>
    </div>
</div>

{{#clips}}
    {{>local_mymedia/zoom_media_clip}}
{{/clips}}