
{{#videos}}
    {{>local_mymedia/zoom_media_video}}
{{/videos}}
{{^videos}}

<div class="container">
  <div class="row">
    <div class="card shadow border-0" style="border-radius: 12px;">
        <div class="card-body p-5">
            
				<h4>No videos have been found in your Zoom library.</h4>
	
			<p>You can <a href="zoom_media.php?activetab=upload"><strong>Upload a video</strong></a> or <a href="zoom_media.php?activetab=record"><strong>Record a Clip</strong></a> to have it appear in your Zoom library.</p>
	
			<p><a class="btn btn-primary" href="zoom_media.php?activetab=upload">Upload a video</a> <a class="btn btn-primary" href="zoom_media.php?activetab=record">Record a Clip</a></p>
	
			<p>If you have any questions or concerns about your Zoom Clips library, please contact the <a href="mailto:service.desk@uregina.ca"><strong>Service Desk</strong></a>.</p>

        </div>
    </div>
</div>
{{/videos}}