<div class="container-fluid mt-4" style="max-width: 800px;">
    <div class="card shadow border-0" style="border-radius: 12px;">
        <div class="card-body p-5">
            
            <h3 class="font-weight-bold mb-4 text-dark">{{#str}} recordvideo, local_mymedia {{/str}}</h3>
            
	<p>Zoom Clips offers a convenient solution for capturing your video and screen content, allowing you to share the recordings with others effortlessly and quickly.</p>

	<p>For more information, review <a href="https://support.zoom.com/hc/en/article?id=zm_kb&sysparm_article=KB0057723#h_01H6490C0J24FCAM9B77W80DS0" target="_blank"><strong>How to record a Zoom Clip</strong></a> on the Zoom Clips support page.</p>

<p>To jump right in, click the <a href="https://zoom.us/launch/clips?recordType=recordingClip&folderId=video_center_home_&showInPopup=1&from=vod" target="_blank">Record a Zoom Clip</a> button below.</p>

<p style="text-align: center"><a class="btn btn-lg btn-primary" href="https://zoom.us/launch/clips?recordType=recordingClip&folderId=video_center_home_&showInPopup=1&from=vod" target="_blank">Record a Zoom Clip</a></p>
	
<p>You will prompted to open the link within the Zoom Workplace application to begin the recording.</p>

<p style="text-align: center"><img src="pix/zoom_app_prompt.png" width="600" alt="Zoom App Prompt"></p>


        </div>
    </div>
</div>