<div class="container-fluid mt-4" style="max-width: 800px;">
    <div class="card shadow border-0" style="border-radius: 12px;">
        <div class="card-body p-5">

<h5>Access to your archived Kaltura Media will be available here soon</h5>

<p class="mt-0"><strong>UR Courses has migrated to Zoom Video Management as of August 1, 2026.</strong></p>

<p class="lead">For more information about working with Zoom Video Management, please see the <a href="https://urcourses.uregina.ca/guides/instructor/zoomzvm" target="_blank"><strong>Instructor</strong></a> or <a href="https://urcourses.uregina.ca/guides/student/zoomzvm" target="_blank"><strong>Student</strong></a> guides.</p>

<p>Additional information about the migration from Kaltura to Zoom Video Management is available on the <a href="https://ursource.uregina.ca/is/projects/zoom-videos.html" target="_blank">project page</a>.</p>

<p>For further assistance, please contact the <a href="mailto:Service.Desk@uregina.ca">Service Desk</a>.</p>

        </div>
    </div>
</div>